.header {
  background-color: white;
  top: 0;
  right: 0;
  left: 0;
  height: 100px;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: row;
  position: fixed;
  z-index: 100;
}

.header-left {
  flex: 1;
}

.header-left {
  margin: 0 20px;
  display: flex;
  align-items: center;
}

.header-link,
.footer-link {
  text-decoration: none;
  color: black;
}
.header-link:visited,
.footer-link:visited {
  color: black;
}

.footer-link,
.footer-link:visited {
  text-decoration: underline;
}

.header-name {
  font-size: 20px;
  font-weight: 500;
}

.header-right-mobile {
  width: 120px;
  padding-right: 20px;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.logo {
  object-fit: contain;
  width: 50px;
  height: 50px;
}

.header-right-desktop {
  display: none;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
  font-size: 48px !important;
}

.overlay {
  height: 0;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 100px;
  left: 0;
  bottom: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay,
.overlay-content,
.overlay a {
  -webkit-tap-highlight-color: transparent;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  cursor: pointer;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: black;
  display: flex;
  transition: 0.3s;
  justify-content: center;
  align-items: center;
}

.footer {
  right: 0;
  left: 0;
  bottom: 0;
  height: 100px;
  border-top: 1px solid black;
  display: flex;
  flex-direction: row;
  z-index: 100;
}

.footer-left,
.footer-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Desktop */
@media only screen and (min-width: 767px) {
  .header {
    height: 100px;
  }

  .header-right-mobile {
    display: none !important;
  }

  .header-right-desktop {
    width: 370px;
    padding-right: 20px;
    justify-content: space-between;
    align-items: center;
    display: flex;
  }
}
