.welcome {
  text-align: center;
  padding: 0 0 15px 0;
}

.welcome-section-name {
  font-size: 15vw;
  font-weight: 1000;
}

.welcome-section {
  margin: 20px;
}

.welcome-section-title,
.about-me {
  font-size: 4vw;
}

.welcome-video-section {
  margin: 20px;
}

.welcome-video {
  max-width: 100%;
  height: auto;
}

.welcome-section-name,
.welcome-section-title,
.about-me,
.div-title,
.project-title,
.project-description {
  margin: 0;
}

/* Italic Bold Titles */
.welcome-section-name,
.div-title,
.project-title {
  font-style: italic;
  font-weight: 500;
}

.div-title {
  font-size: 8vw;
  padding: 10px 20px;
  border-bottom: 1px solid black;
}

.div-title-disclaimer {
  display: block;
  font-size: 0.5em;
  color: #4a4a4a;
  margin-top: 0.2em;
}

.about-me {
  margin: 20px;
  font-size: 20px;
}

/* Projects */
.project-div {
  margin: 20px;
}

.portfolio-div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 420px;
  max-width: 100%;
}
.portfolio-div img {
  width: 140px;
  height: 140px;
  max-width: 100%;
  height: auto;
}

.video-container {
  display: flex;
  justify-content: center;
}

.project-video,
.project-image {
  max-width: 100%;
  height: auto;
}

.project-image {
  aspect-ratio: 16 / 9;
}

.description-container {
  max-width: 420px;
}

.project-title {
  margin-top: 10px;
  font-size: 15px;
}

.project-description {
  margin: 10px 0 5px 0;
  font-size: 12px;
}

.buttons-div {
  display: block;
  max-width: 350px;
}

.link-buttons {
  display: inline-block;
  padding: 6px;
  border: 1px solid black;
  color: black;
  font-size: 14px;
  margin-right: 5px;
  margin-top: 5px;
}
.link-buttons:visited {
  color: black;
}

.link-image {
  margin-right: 5px;
  width: 20px;
}

.link-image,
.link-title {
  display: inline-block;
  vertical-align: middle;
}

.material-symbols-outlined.link-image {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
  font-size: 20px !important;
}

.tag {
  display: inline-block;
  font-size: 12px;
  padding: 3px;
  background-color: rgb(175, 175, 175);
  margin: 5px 5px 0 0;
}

.tags-div {
  margin-top: 10px;
}

/* Technologies */
.technologies-div {
  margin: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 5px;
  row-gap: 5px;
}

.technologies-div img {
  vertical-align: middle;
  width: 150px;
}

/* Award */
.award-div {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.award-image {
  width: 1599;
  max-width: 100%;
}

#toTopButton {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 300;
  padding: 5px;
  border: none;
  outline: none;
  background-color: white;
  border: 1px solid black;
  cursor: pointer;
  border-radius: 4px;
}
#toTopButton span {
  display: flex;
  justify-content: center;
  font-size: 40px !important;
}

/* Desktop */
@media only screen and (min-width: 767px) {
  .welcome {
    padding: 0;
    text-align: justify;
    display: flex;
    margin: 20px;
  }

  .welcome-section {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    flex: 1;
  }

  .welcome-section-name {
    font-size: 100px;
    flex: 0.75;
    display: flex;
    align-items: center;
  }

  .welcome-video-section {
    flex: 1;
  }

  .welcome-section-title,
  .about-me {
    font-size: 20px;
  }

  .about-me {
    text-align: center;
  }

  .div-title {
    font-size: 40px;
  }

  /* Projects */
  .projects-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 20px 0;
  }

  .project-div {
    display: flex;
    justify-content: center;
  }

  .video-container {
    width: 420px;
    display: flex;
    margin-right: 20px;
    justify-content: end;
  }

  .description-container {
    max-width: 460px;
  }

  .link-buttons {
    margin-right: 0px;
  }
}

@media only screen and (max-width: 1890px) {
  .projects-section {
    display: block;
    margin: 20px 0;
  }
}

@media only screen and (min-width: 850px) {
  .project-title {
    font-size: 20px;
  }

  .project-description {
    font-size: 14px;
  }
}
